.match-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 30px;
    flex-direction: column;
}

.match-title{
    font-size: 40px;
}

.container{
    height: 1200px;
    width: 1000px;
    background-color: #2410df;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.score-con{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards .card .view{
    width: 100%;
    height: 100%;
    background-color: #5b5ea5;
    border-radius: 25px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .616);
    position: absolute;
    transition: transform .25s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}

.cards .card{
    height: calc(100%/4 - 10px);
    width: calc(100%/4 - 10px);
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}

.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card .back-face .match-img{
    max-width: 180px;
}

.card .back-face{
    /*display: none;*/
    transform: rotateY(-180deg);
}

.card.flip .back-face{
    transform: rotateY(0);
}

.card.flip .front-face{
    transform: rotateY(180deg);
}

.match-img{
    border-radius: 25px 0;
    width: 200px;
    height: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .616);
    position: absolute;
    transition: transform .25s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}

.card.shake{
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}

@media (max-width: 800px) {
    .container{
        width: 600px;
        height: 500px;
    }

    .match-img{
        width: 130px;
        height: 110px;
    }
}
