@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Varela+Round@display=swap");

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

h1,
h2{
  font-family: "Pacifico", cursive;
  font-weight: bold;
  color: darkblue;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: darkblue;
}

.header-con{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: slateblue;
  padding: 20px;
}

.links-con{
  width: 600;
  display: flex;
  justify-content: space-around;
}

.links{
  color:darkturquoise;
  font-family: "Pacifico",cursive;
  font-size: 25px;
  margin-left: 8px;
  margin-right: 8px;
}

.bg{
  background-color: indigo;
}

.vid-con{
  width: 900px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.about-title{
  font-size: 40px;
}

.about-con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto 0;
}

.about-text-con{
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 25px;
}

.about-text{
  font-family: "Varela Round", sans-serif;
  color: aquamarine;
}

footer {
  display: flex;
  align-items: bottom;
  justify-content: center;
}

.footer-text{
  color: navy;
  font-size: 18px;
}

.title-con{
  display: flex;
  justify-content: center;
}

.gallery-title{
  font-size: 40px;
  margin-top: 30px;
}

.gallery-con{
  width: 100%
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery{
  display: flex;
  justify-content: center;
  border: deepskyblue 2px solid;
  margin: 5px;
  border-radius: 10px;
}

.image{
  margin: 10px;
  border-raduis: 10px;
}
@media (max-width: 800px) {
  .links-con{
    width: 350px;
  }

  h1{
    font-size: 20px;
  }

  .links{
    font-size: 15px;
  }

  .vid-con{
    width: 500px;
    height: 300px;
  }

  iframe{
    width: 500px;
    height: 300px
  }
}
